.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 999;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.logo-text {
  margin-left: 10px;
  color: #f44336;
  font-weight: 700;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #ffcc00;

}

.header-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.search-bar {
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 12px;
  overflow: hidden;
  backdrop-filter: blur(10px);
  transition: all 0.3s ease;
}

.search-bar input {
  background: transparent;
  border: none;
  outline: none;
  padding: 8px 12px;
  color: white;
  font-size: 14px;
  width: 160px;
}

.search-bar input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.search-bar button {
  background: transparent;
  border: none;
  color: white;
  font-size: 18px;
  padding: 8px 12px;
  cursor: pointer;
  transition: 0.3s ease;
}

.search-bar button:hover {
  background: rgba(255, 255, 255, 0.15);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}


.date-picker {
  display: flex;
  align-items: center;
  gap: 5px;
  background: rgba(255, 255, 255, 0.1);
  padding: 4px 10px;
  border-radius: 10px;
  backdrop-filter: blur(5px);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  margin-left: 15px;
}

.date-picker input[type="date"] {
  background: transparent;
  border: none;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

.date-picker input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
}

.active-link {
  position: relative;
  color: #007bff;
  background-color: rgba(0, 123, 255, 0.2); /* Highlight background */
  padding: 6px 12px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

body{
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-image: url('./img/backg.jpg'); /* Path change कर */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #fff;
}


