.view-news-card {
  border-radius: 10px;
  overflow: hidden;
  background: #fff;
}

.view-news-image-wrapper {
  width: 100%;
  max-height: 350px;
  overflow: hidden;
}

.view-news-image {
  width: 100%;
  height: auto;
  display: block;
}

.view-news-card p {
  font-size: 1rem;
  margin-bottom: 10px;
}

.view-news-card strong {
  color: #333;
}
